<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Vue 测试实例 - 菜鸟教程(runoob.com)</title>
  <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
</head>
<body>
<div id="vue_det">
  <h1>site : {{site}}</h1>
  <h1>url : {{url}}</h1>
  <h1>{{details()}}</h1>
</div>
<script type="text/javascript">
  import Vue from 'vue'

  var data = {site:"菜鸟教程",url:"www.runoob.com",alexa:"10000"}
  var vm = new Vue({
    el: '#vue_det',
    data: {
      site: "菜鸟教程",
      url: "www.runoob.com",
      alexa: "10000"
    },
    methods: {
      details: function() {
        return  this.site + " - 学的不仅是技术，更是梦想！";
      }
    }
  })
  // data 用于定义属性，实例中有三个属性分别为：site、url、alexa。methods 用于定义的函数，可以通过 return 来返回函数值。{{ }} 用于输出对象属性和函数返回值。
  document.write(vm.$data === data)
  document.write("<br/>")
  document.write(vm.$el === document.getElementById('vue_det'))

</script>
</body>
</html>
