<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="app">
  <p>原始字符串{{ message }}</p>
  <p>修改后的字符串{{ messageReverse }}</p>
  <!-- 方法要加（） -->
  <p>修改后的字符串{{ messageTest() }}</p>
</div>

<script>

  import {Vue} from 'vue/types/vue'

  new Vue ({
    el:'#app',
    data:{
      message:'runoob'
    },
    //  我们可以使用 methods 来替代 computed，效果上两个都是一样的，但是 computed 是基于它的依赖缓存，只有相关依赖发生改变时才会重新取值。
    //  而使用 methods ，在重新渲染的时候，函数总会重新调用执行。
    computed:{
          messageReverse:function () {
            return this.message.split('').reverse().join('')
          }
    },
    methods:{
      messageTest:function () {
        return this.message.split('').reverse().join('')
      }
    }
  })

</script>

</body>
</html>
