<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div id="app">
    <p>input 元素:</p>
    <input v-model="message" placeholder="编辑我....">
    <p>消息是：{{ message }}</p>

    <p>textarea</p>
    <p style="white-space: pre">{{ message2 }}</p>
    <textarea v-model="message2" placeholder="多行文本输入..."></textarea>
  </div>

<script>
  new Vue ({
      el:'#app',
    data:{
        message:'runoob',
      message2:'菜鸟教程'
    }
    });
</script>
</body>
</html>
