<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
  <p v-if="screen">现在你可以看到我了</p>
  <!--template标签，HTML5提供的新标签，更加规范和语义化 ；可以把列表项放入template标签中，然后进行批量渲染-->
  <!--指令是带有 v- 前缀的特殊属性。指令用于在表达式的值改变时，将某些行为应用到 DOM 上-->
  <template v-if="ok">
    <h1>菜鸟教程</h1>
    <p>学的不仅是技术，更是梦想</p>
    <p>打字辛苦了</p>
  </template>
</div>

<script>

  import Vue from 'vue'

  new Vue ({
    el:'#app',
    data:{
      seen:true,
      ok : true
    }
  })

</script>

</body>
</html>
